.explore {
    
    margin-top: 100px;
    text-align: center;
    
  /*padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;*/
}

.explore img {
  height: 200px;
}

.explore p {
  font-family: 'BlackJack', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}



.clearfix {
  clear: both;
}



